#svg {
  visibility: hidden;
  display: none;
}
html, body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
}
#interactive {
  height: 90vh;
  width: 100%;
  background-color: red;
}
#section {
  height: 100vh;
  width: 100%;
  background: black;
  text-align: right;
  margin: 0;
  padding: 0;
  padding-top: 5vh;
}
.description {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: white;
  font-size: 2.5vmin;
  font-family: 'mitra';
  line-height: 40px;
  width: 60%;
  left: 20%;
  position: relative;
}
@font-face {
  font-family: 'Farsi1';
  src: url('https://dl.dropboxusercontent.com/u/141488253/IRANSans-Medium-web.eot');  /* here you go, IE */
}
@font-face {
  font-family: 'Farsi1';
  src: url('https://dl.dropboxusercontent.com/u/141488253/IRANSans-Medium-web.woff');  /* everyone else take this */
}
@font-face {
  font-family: 'Farsi1';
  src: url('https://dl.dropboxusercontent.com/u/141488253/IRANSans-Medium-web.ttf');  /* everyone else take this */
}
@font-face {
  font-family: "mitra";
  src: url("https://dl.dropboxusercontent.com/u/141488253/BMitra.eot") format("eot"), url("https://dl.dropboxusercontent.com/u/141488253/BMitra.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/141488253/BMitra.ttf") format("truetype");
}
.panel-default > .panel-heading-custom {
  background: black;
  color: white;
}
label, h1, input {
  color: black;
  font-family: 'Farsi1';
  font-style: 'normal';
  font-size: 12px;
}
.btn {
  background: black;
  color: white;
  font-family: 'Farsi1';
  font-style: 'normal';
  font-size: 12px;
}
.form-control {
  font-size: 10px;
}
.btn:hover {
  background: grey;
  color: black;
}
#payment {
  position: relative;
  left: 30%;
  width: 40%;
  padding: 0;
  margin: 0;
}
#title {
  font-size: 40px;
}
#section1 {
  margin: 0;
  padding: 0;
  margin-top: -2px;
  text-align: center;
  height: 10vh;
  background-color: red;
}
#down {
  font-size: 4vmin;
  padding-top: 2vmin;
  color: black;
  cursor: pointer;
  z-index: 2000;
}
#down:hover {
  cursor: pointer;
  color: white;
}
.small {
  font-size: 2.0vmin;
  line-height: 2.5vmin;
}
@media (max-device-width:800px) {
  #title {
    font-size: 5vmin;
    line-height: 6vmin;
  }
  .description {
    font-size: 3.5vmin;
    line-height: 6vmin;
    width: 90%;
    left: 5%;
  }
  .small {
    font-size: 3vmin;
    line-height: 4vmin;
  }
  #payment {
    width: 70%;
    left: 15%;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
  }
  #down {
    font-size: 5vmin;
    padding-top: 2.5vmin;
  }
  label, h1, input, .btn {
    font-size: 18px;
  }
}